code, .rst-content tt,.rst-content code {
  white-space:pre-wrap;
}

.md-nav__title {
  visibility: hidden;
}

.md-nav__title:after {
  visibility: visible;
  content: 'juhan9000';
  display: block;
}